{% load static %}
{% load humanize %}

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Title -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h2>فقط برای شما</h2>
        </div>
        <!-- End Title -->
  
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for similar_prod in similar_products %}
            <div class="col mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none text-center h-100">
                <div class="card-pinned">
                  <img class="card-img-top" src="http://127.0.0.1:9000/media/{{ similar_prod.product_image_related.all.first.image }}" alt="Image Description">
                  {% if similar_prod.stock == 0 %}
                  <div class="card-pinned-top-start">
                    <span class="badge bg-danger rounded-pill">اتمام موجودی</span>
                  </div>
                  {% endif %}

                  {% if request.user.is_authenticated %}
                  <div class="card-pinned-top-end">
                    <button type="button" class="btn btn-outline-danger btn-xs btn-icon rounded-circle {% if similar_prod.id in is_wished %}active{% endif %}" 
                    data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق" onclick="modify_wish(this,`{{similar_prod.id}}`)">
                      <i class="bi-heart"></i>
                    </button>
                  </div>
                  {% endif %}
                </div>

                <div class="card-body">
                  <div class="mb-2">
                    {% for cat in similar_prod.category.all %}
                    <a class="link-sm link-secondary" href="#">{{cat}}</a>
                    {% if not forloop.last %}
                      ،
                    {% endif %}
                    {% endfor %}
                  </div>

                  <h4 class="card-title">
                    <a class="text-dark" href="{% url 'shop:detail' slug=similar_prod.slug %}">{{similar_prod.title}}</a>
                  </h4>
                  {% if similar_prod.discount_percent %}
                  <p class="card-text text-dark">{{similar_prod.offer|intcomma}} <span class="text-body ms-1"><del>{{similar_prod.price|intcomma}} تومان</del></span></p>
                  {% else %}
                  <p class="card-text text-dark">{{similar_prod.price|intcomma}} تومان</p>
                  {% endif %}
                </div>

                <div class="card-footer pt-0">
                  <!-- Rating -->
                  <div class="d-inline-flex align-items-center mb-3" href="#">
                    <div class="d-flex gap-1 mb-3">
                      {% for rate in '12345' %}
                      {% if similar_prod.avg_rate >= rate|add:0 %}
                      <i class="bi bi-star-fill text-warning"></i>
                      {% else %}
                      <i class="bi bi-star text-warning"></i>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <!-- End Rating -->

                  <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">افزودن به سبد خرید</button>
                </div>
              </div>
              <!-- End Card -->
            </div>
            {% endfor %}
        </div>
        <!-- End Row -->
      </div>
      <!-- End Card Grid -->