<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>فروشگاه: دسته بندی ها نوار کناری | جلو - قالب چند منظوره پاسخگو</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/assets/css/theme.min.css?v=1.0">
</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light">

    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="/index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="/assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/index.html">صفحه اصلی</a>
            </li>

            <!-- Dropdown -->
            <li class="hs-has-sub-menu nav-item">
              <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">لیست محصولات</a>
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
                <a class="dropdown-item active" href="/products-list.html">فهرست</a>
                <a class="dropdown-item " href="/products-grid.html">فهرست (شبکه)</a>
              </div>
            </li>
            <!-- End Dropdown -->

            <li class="nav-item">
              <a class="nav-link " href="/product-overview.html">بررسی اجمالی محصولات</a>
            </li>

            <!-- Pages -->
            <li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "right",
                    "maxWidth": "27rem"
                  }
                }'>
              <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>

              <!-- Mega Menu -->
              <div class="hs-mega-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 27rem;">
                <div class="navbar-dropdown-menu-inner">
                  <span class="dropdown-header">عناصر</span>

                  <div class="row">
                    <div class="col-sm mb-3 mb-sm-0">
                      <a class="dropdown-item " href="/categories.html">دسته بندی ها</a>
                      <a class="dropdown-item " href="/categories-sidebar.html">نوار کناری دسته ها</a>
                      <a class="dropdown-item " href="/empty-cart.html">سبد خالی</a>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm">
                      <a class="dropdown-item " href="/cart.html">سبد خرید</a>
                      <a class="dropdown-item " href="/checkout.html">بررسی</a>
                      <a class="dropdown-item " href="/order-completed.html">سفارش تکمیل شد</a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>

                <!-- Mega Menu Banner -->
                <div class="navbar-dropdown-menu-shop-banner">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="navbar-dropdown-menu-shop-banner-img" src="/assets/img/mockups/img4.png" alt="Image Description">
                    </div>

                    <div class="flex-grow-1 p-4">
                      <span class="h4 d-block text-primary">برند تی شرت</span>
                      <p>یکی از تی شرت های برند Front ما را برنده شوید.</p>
                      <a class="btn btn-sm btn-soft-primary btn-transition" href="/index.html">بیشتر بدانید <i class="bi-chevron-left small"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu Banner -->
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Pages -->

            <li class="nav-item">
              <!-- Search -->
              <button class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarSearch" aria-controls="offcanvasNavbarSearch">
                <i class="bi-search"></i>
              </button>
              <!-- End Search -->

              <!-- Shopping Cart -->
              <button type="button" class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarShoppingCart" aria-controls="offcanvasNavbarShoppingCart">
                <i class="bi-basket"></i>
                
              </button>
              <!-- End Shopping Cart -->

              <a class="btn btn-primary btn-transition" href="./page-login-simple.html">ورود</a>
            </li>
          </ul>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Breadcrumb -->
    <div class="bg-light">
      <div class="container py-4">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/index.html">خرید کنید</a>
            </li>
            <li class="breadcrumb-item active pe-2" aria-current="page">دسته بندی ها</li>
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Categories Section -->
    <div class="container content-space-t-1 content-space-t-md-2 content-space-b-2">
      <div class="row">
        <div class="col-lg-3 mb-5 mb-lg-0">
          <!-- Navbar -->
          <div class="navbar-expand-lg">
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button type="button" class="navbar-toggler btn btn-white rounded mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">منو</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <div id="shopNavCategories" class="nav nav-pills nav-vertical">
                <!-- Collapse -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesTwo" aria-expanded="true" aria-controls="shopCategoriesTwo">
                  <i class="bi-tv nav-icon"></i> تلویزیون &amp; لوازم خانگی
                </a>

                <div id="shopCategoriesTwo" class="nav-collapse collapse show" data-bs-parent="#shopNavCategories">
                  <div id="shopNavCategoriesTwo">
                    <!-- Collapse -->
                    <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesTwoSubOne" aria-expanded="true" aria-controls="shopCategoriesTwoSubOne">
                      تلویزیون &amp; دستگاه های ویدیویی
                    </a>

                    <div id="shopCategoriesTwoSubOne" class="nav-collapse collapse show" data-bs-parent="#shopNavCategoriesTwo">
                      <a class="nav-link active" href="#">تجهیزات جانبی</a>
                      <a class="nav-link" href="#">آشپزخانه</a>
                      <a class="nav-link" href="#">هال</a>
                    </div>
                    <!-- End Collapse -->

                    <a class="nav-link" href="#">خنک کننده &amp; هوا درمانی</a>
                    <a class="nav-link" href="#">جاروبرقی ها &amp; مراقبت از کف</a>
                  </div>
                </div>
                <!-- End Collapse -->

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesOne" aria-expanded="false" aria-controls="shopCategoriesOne">
                  <i class="bi-display nav-icon"></i> لوازم برقی
                </a>

                <div id="shopCategoriesOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
                  <div id="shopNavCategoriesOne">
                    <!-- Collapse -->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesOneSubOne" aria-expanded="false" aria-controls="shopCategoriesOneSubOne">
                      لوازم الکترونیکی
                    </a>

                    <div id="shopCategoriesOneSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesOne">
                      <a class="nav-link" href="#">لوازم جانبی موبایل</a>
                      <a class="nav-link" href="#">صوتی قابل حمل</a>
                      <a class="nav-link" href="#">پوشیدنی</a>
                      <a class="nav-link" href="#">لوازم جانبی کنسول</a>
                      <a class="nav-link" href="#">لوازم جانبی دوربین</a>
                      <a class="nav-link" href="#">لوازم جانبی رایانه</a>
                      <a class="nav-link" href="#">ذخیره سازی</a>
                      <a class="nav-link" href="#">چاپگرها</a>
                      <a class="nav-link" href="#">اجزای کامپیوتر</a>
                    </div>
                    <!-- End Collapse -->

                    <a class="nav-link" href="#">موبایل</a>
                    <a class="nav-link" href="#">قرص</a>
                    <a class="nav-link" href="#">لپ تاپ ها</a>
                    <a class="nav-link" href="#">دسکتاپ ها</a>
                    <a class="nav-link" href="#">کنسول های بازی</a>
                    <a class="nav-link" href="#">دوربین های ماشین</a>
                    <a class="nav-link" href="#">دوربین های امنیتی</a>
                    <a class="nav-link" href="#">دوربین های دیجیتال</a>
                    <a class="nav-link" href="#">ابزارک ها</a>
                  </div>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">
                  <i class="bi-shop nav-icon"></i> تن پوش
                </a>

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThree" aria-expanded="false" aria-controls="shopCategoriesThree">
                  <i class="bi-heart nav-icon"></i> سلامتی &amp; زیبایی
                </a>

                <div id="shopCategoriesThree" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
                  <div id="shopNavCategoriesThree">
                    <a class="nav-link" href="#">مکمل های غذایی</a>
                    <a class="nav-link" href="#">مراقبت از پوست</a>
                    <a class="nav-link" href="#">آرایش</a>

                    <!-- Collapse -->
                    <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThreeSubOne" aria-expanded="false" aria-controls="shopCategoriesThreeSubOne">
                      ابزار زیبایی
                    </a>

                    <div id="shopCategoriesThreeSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesThree">
                      <a class="nav-link" href="#">مرد</a>
                      <a class="nav-link" href="#">زن</a>
                    </div>
                    <!-- End Collapse -->

                    <!-- Collapse -->
                    <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThreeSubTwo" aria-expanded="false" aria-controls="shopCategoriesThreeSubTwo">
                      لوازم پزشکی
                    </a>

                    <div id="shopCategoriesThreeSubTwo" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesThree">
                      <a class="nav-link" href="#">مرد</a>
                      <a class="nav-link" href="#">زن</a>
                    </div>
                    <!-- End Collapse -->
                  </div>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">
                  <i class="bi-earbuds nav-icon"></i> تجهیزات جانبی
                </a>

                <a class="nav-link" href="#">
                  <i class="bi-speaker-fill nav-icon"></i> سیستم صوتی
                </a>

                <a class="nav-link" href="#">
                  <i class="bi-smartwatch nav-icon"></i> ساعت هوشمند
                </a>

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFour" aria-expanded="false" aria-controls="shopCategoriesFour">
                  <i class="bi-piggy-bank nav-icon"></i> نوزادان &amp; اسباب بازی ها
                </a>

                <div id="shopCategoriesFour" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
                  <div id="shopNavCategoriesFour">
                    <!-- Collapse -->
                    <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFourSubOne" aria-expanded="false" aria-controls="shopCategoriesFourSubOne">
                      خوراکی ها
                    </a>

                    <div id="shopCategoriesFourSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesFour">
                      <a class="nav-link" href="#">تغذیه کردن</a>
                      <a class="nav-link" href="#">فرمول شیر</a>
                    </div>
                    <!-- End Collapse -->

                    <a class="nav-link" href="#">پوشک زدن &amp; اسکول</a>
                    <a class="nav-link" href="#">مهد کودک</a>
                    <a class="nav-link" href="#">مراقبت شخصی نوزاد</a>
                    <a class="nav-link" href="#">تن پوش &amp; تجهیزات جانبی</a>
                    <a class="nav-link" href="#">کودک و &amp; اسباب بازی ها</a>
                  </div>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">
                  <i class="bi-tools nav-icon"></i> ابزار
                </a>

                <a class="nav-link" href="#">
                  <i class="bi-eyeglasses nav-icon"></i> عینک
                </a>

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFive" aria-expanded="false" aria-controls="shopCategoriesFive">
                  <i class="bi-truck nav-icon"></i> خودرو &amp; موتور سیکلت ها
                </a>

                <div id="shopCategoriesFive" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
                  <!-- Collapse -->
                  <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFiveSubOne" aria-expanded="false" aria-controls="shopCategoriesFiveSubOne">
                    خودرو
                  </a>

                  <div id="shopCategoriesFiveSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesFour">
                    <a class="nav-link" href="#">خدمات &amp; تاسیسات</a>
                    <a class="nav-link" href="#">روغن های خودرو &amp; مایعات</a>
                  </div>
                  <!-- End Collapse -->

                  <a class="nav-link" href="#">لوازم داخلی</a>
                  <a class="nav-link" href="#">لوازم جانبی خارجی</a>
                  <a class="nav-link" href="#">ضبط ماشین</a>
                  <a class="nav-link" href="#">مراقبت از خودرو</a>
                  <a class="nav-link" href="#">وسایل سواری</a>
                </div>
                <!-- End Collapse -->
              </div>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-lg-9">
          <!-- Banner -->
          <div class="bg-img-start rounded-2 p-5 mb-5" style="background-image: url(/assets/img/1920x800/img9.jpg);">
            <div class="row align-items-md-center">
              <div class="col-sm mb-3 mb-md-0">
                <h1 class="h4 mb-0">با سفارشات بالای 50 تومان تا 30 درصد صرفه جویی کنید</h1>
              </div>
              <!-- End Col -->

              <div class="col-sm-auto">
                <a class="btn btn-primary btn-sm btn-transition rounded-pill" href="#">اکنون خرید کنید</a>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Banner -->

          <div class="row">
            <div class="col-sm-6 mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                  <div class="w-65 border-end">
                    <img class="img-fluid" src="/assets/img/380x400/img3.jpg" alt="Image Description">
                  </div>
                  <div class="w-35">
                    <div class="border-bottom">
                      <img class="img-fluid" src="/assets/img/380x360/img8.jpg" alt="Image Description">
                    </div>
                    <img class="img-fluid" src="/assets/img/380x360/img7.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <h3 class="card-title">تی شرت</h3>
                  <p class="card-text text-muted small">شروع از 29.99 تومان</p>
                  <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده همه</a>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                  <div class="w-65 border-end">
                    <img class="img-fluid" src="/assets/img/380x400/img4.jpg" alt="Image Description">
                  </div>
                  <div class="w-35">
                    <div class="border-bottom">
                      <img class="img-fluid" src="/assets/img/380x360/img6.jpg" alt="Image Description">
                    </div>
                    <img class="img-fluid" src="/assets/img/380x360/img5.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <h3 class="card-title">پوشش های فنی</h3>
                  <p class="card-text text-muted small">شروع از 399.99 تومان</p>
                  <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده همه</a>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row row-cols-sm-2 row-cols-md-3">
            <div class="col mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none text-center h-100">
                <div class="card-pinned">
                  <img class="card-img-top" src="/assets/img/300x180/img3.jpg" alt="Image Description">

                  <div class="card-pinned-top-start">
                    <span class="badge bg-success rounded-pill">جدید</span>
                  </div>

                  <div class="card-pinned-top-end">
                    <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق">
                      <i class="bi-heart"></i>
                    </button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="mb-1">
                    <a class="link-sm link-secondary" href="#">تجهیزات جانبی</a>
                  </div>
                  <a class="text-body" href="/product-overview.html">کوله پشتی هرشل به رنگ آبی تیره</a>
                  <p class="card-text text-dark">$56.99</p>
                </div>

                <div class="card-footer pt-0">
                  <!-- Rating -->
                  <a class="d-inline-flex align-items-center mb-3" href="#">
                    <div class="d-flex gap-1 ms-2">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                    </div>
                    <span class="small">0</span>
                  </a>
                  <!-- End Rating -->

                  <button type="button" class="btn btn-outline-primary btn-sm btn-transition">افزودن به سبد خرید</button>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none text-center h-100">
                <div class="card-pinned">
                  <img class="card-img-top" src="/assets/img/300x180/img1.jpg" alt="Image Description">

                  <div class="card-pinned-top-end">
                    <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق">
                      <i class="bi-heart"></i>
                    </button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="mb-1">
                    <a class="link-sm link-secondary" href="#">تن پوش</a>
                  </div>
                  <a class="text-body" href="/product-overview.html">هودی جلو</a>
                  <p class="card-text text-dark">$91.88</p>
                </div>

                <div class="card-footer pt-0">
                  <!-- Rating -->
                  <a class="d-inline-flex align-items-center mb-3" href="#">
                    <div class="d-flex gap-1 ms-2">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                    </div>
                    <span class="small">40</span>
                  </a>
                  <!-- End Rating -->

                  <button type="button" class="btn btn-outline-primary btn-sm btn-transition">افزودن به سبد خرید</button>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none text-center h-100">
                <div class="card-pinned">
                  <img class="card-img-top" src="/assets/img/300x180/img4.jpg" alt="Image Description">

                  <div class="card-pinned-top-start">
                    <span class="badge bg-danger rounded-pill">اتمام موجودی</span>
                  </div>

                  <div class="card-pinned-top-end">
                    <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق">
                      <i class="bi-heart"></i>
                    </button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="mb-1">
                    <a class="link-sm link-secondary" href="#">تجهیزات جانبی</a>
                  </div>
                  <a class="text-body" href="/product-overview.html">کوله پشتی هرشل به رنگ خاکستری</a>
                  <p class="card-text text-dark">$29.99 <span class="text-body ms-1"><del>$33.99</del></span></p>
                </div>

                <div class="card-footer pt-0">
                  <!-- Rating -->
                  <a class="d-inline-flex align-items-center mb-3" href="#">
                    <div class="d-flex gap-1 ms-2">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                      <img src="/assets/svg/illustrations/star-muted.svg" alt="Review rating" width="16">
                    </div>
                    <span class="small">125</span>
                  </a>
                  <!-- End Rating -->

                  <button type="button" class="btn btn-outline-primary btn-sm btn-transition">افزودن به سبد خرید</button>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row">
            <div class="col-sm-6 mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                  <div class="w-65 border-end">
                    <img class="img-fluid" src="/assets/img/380x400/img2.jpg" alt="Image Description">
                  </div>
                  <div class="w-35">
                    <div class="border-bottom">
                      <img class="img-fluid" src="/assets/img/380x360/img4.jpg" alt="Image Description">
                    </div>
                    <img class="img-fluid" src="/assets/img/380x360/img3.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <h3 class="card-title">کلاه</h3>
                  <p class="card-text text-muted small">شروع از 13.99 تومان</p>
                  <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده همه</a>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 mb-4">
              <!-- Card -->
              <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                  <div class="w-65 border-end">
                    <img class="img-fluid" src="/assets/img/380x400/img1.jpg" alt="Image Description">
                  </div>
                  <div class="w-35">
                    <div class="border-bottom">
                      <img class="img-fluid" src="/assets/img/380x360/img2.jpg" alt="Image Description">
                    </div>
                    <img class="img-fluid" src="/assets/img/380x360/img1.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="card-footer text-center">
                  <h3 class="card-title">تجهیزات جانبی</h3>
                  <p class="card-text text-muted small">شروع از $4.44</p>
                  <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده همه</a>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Categories Section -->

    <!-- CTA -->
    <div class="bg-img-center" style="background-image: url(/assets/img/1920x800/img8.jpg);">
      <div class="container content-space-2 content-space-lg-3">
        <div class="w-md-65 w-lg-35">
          <div class="mb-4">
            <h2 class="h1 text-white">غرورت را بپوش</h2>
            <p class="text-white">از نور خورشید سبقت بگیرید و تمرین خود را با رنگ های خاکستری، سفید و روشن های تیره تازه کنید.</p>
          </div>
          <a class="btn btn-light btn-transition rounded-pill" href="#">خرید مجموعه</a>
        </div>
      </div>
    </div>
    <!-- End CTA -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="border-top">
    <div class="container">
      <div class="row justify-content-lg-between content-space-t-2 content-space-b-lg-2">
        <div class="col-lg-3 mb-5">
          <div class="d-flex align-items-start flex-column h-100">
            <!-- Logo -->
            <a class="w-100 mb-3 mb-lg-auto" href="/index.html" aria-label="Front">
              <img class="brand" src="/assets/svg/logos/logo.svg" alt="Logo">
            </a>
            <!-- End Logo -->

            <p class="text-muted small mb-0">&copy; Maryam Farajian 2023 Front RTL</p>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 ms-lg-auto mb-5 mb-lg-0">
          <h5>حساب</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">سفارش دادن</a></li>
            <li><a class="link-sm text-secondary" href="#">گزینه های حمل و نقل</a></li>
            <li><a class="link-sm text-secondary" href="#">پیگیری یک بسته</a></li>
            <li><a class="link-sm text-secondary" href="#">در دسترس بودن کشور</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
          <h5>شرکت</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">تامین مالی</a></li>
            <li><a class="link-sm text-secondary" href="#">بازیافت</a></li>
            <li><a class="link-sm text-secondary" href="#">سیاست بازگشت</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <h5 class="mb-3">منابع</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> کمک</a></li>
            <li><a class="link-sm link-secondary" href="#"><i class="bi-person-circle me-1"></i> حساب شما </a></li>
          </ul>
          <!-- End List -->

          <!-- Button Group -->
          <div class="btn-group">
            <button type="button" class="btn btn-white btn-sm dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
              <span class="d-flex align-items-center">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                <span>انگلیسی (US)</span>
              </span>
            </button>

            <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
              <a class="dropdown-item d-flex align-items-center active" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                <span>انگلیسی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16" />
                <span>آلمانی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16" />
                <span>اسپانیایی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16" />
                <span>چینی</span>
              </a>
            </div>
          </div>
          <!-- End Button Group -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <hr class="my-0">

      <div class="row align-items-sm-center content-space-1">
        <div class="col-sm mb-4 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- List -->
          <ul class="list-inline list-separator">
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/page-privacy.html">حریم خصوصی و خط مشی</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/page-terms.html">مقررات و شرایط</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/#">مشاغل</a>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Sign Up -->


  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- Offcanvas Search -->
  <div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
    <div class="offcanvas-body">
      <div class="container">
        <div class="w-lg-75 mx-lg-auto">
          <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="mb-7">
            <!-- Form -->
            <form>
              <!-- Input Card -->
              <div class="input-card">
                <div class="input-card-form">
                  <input type="text" class="form-control form-control-lg" placeholder="جستجو محصولات" aria-label="جستجو محصولات">
                </div>
                <button type="button" class="btn btn-primary btn-lg">جستجو</button>
              </div>
              <!-- End Input Card -->
            </form>
            <!-- End Form -->
          </div>

    
        </div>
      </div>
    </div>
  </div>

  <!-- Offcanvas Search -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarShoppingCart">
    <div class="offcanvas-header justify-content-end border-0 pb-0">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <div class="text-center">
        <div class="mb-5">
          <img class="avatar avatar-xl avatar-4x3" src="/assets/svg/illustrations/oc-empty-cart.svg" alt="SVG">
        </div>

        <div class="mb-5">
          <h3>سبد خرید شما در حال حاضر خالی است</h3>
          <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات جالب زیادی پیدا خواهید کرد.</p>
        </div>


        <a class="btn btn-primary btn-transition rounded-pill px-6" href="/index.html">شروع به خرید کنید</a>
      </div>
    </div>
  </div>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Implementing Plugins -->
  <script src="/assets/js/vendor.min.js"></script>

  <!-- JS Front -->
  <script src="/assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')
    })()
  </script>
</body>
</html>