<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>فروشگاه: سبد خالی | جلو - قالب چند منظوره پاسخگو</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/assets/css/theme.min.css?v=1.0">
</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-light">
 
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="/index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="/assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/index.html">صفحه اصلی</a>
            </li>

            <!-- Dropdown -->
            <li class="hs-has-sub-menu nav-item">
              <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">لیست محصولات</a>
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
                <a class="dropdown-item active" href="/products-list.html">فهرست</a>
                <a class="dropdown-item " href="/products-grid.html">فهرست (شبکه)</a>
              </div>
            </li>
            <!-- End Dropdown -->

            <li class="nav-item">
              <a class="nav-link " href="/product-overview.html">بررسی اجمالی محصولات</a>
            </li>

            <!-- Pages -->
            <li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "right",
                    "maxWidth": "27rem"
                  }
                }'>
              <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>

              <!-- Mega Menu -->
              <div class="hs-mega-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 27rem;">
                <div class="navbar-dropdown-menu-inner">
                  <span class="dropdown-header">عناصر</span>

                  <div class="row">
                    <div class="col-sm mb-3 mb-sm-0">
                      <a class="dropdown-item " href="/categories.html">دسته بندی ها</a>
                      <a class="dropdown-item " href="/categories-sidebar.html">نوار کناری دسته ها</a>
                      <a class="dropdown-item " href="/empty-cart.html">سبد خالی</a>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm">
                      <a class="dropdown-item " href="/cart.html">سبد خرید</a>
                      <a class="dropdown-item " href="/checkout.html">بررسی</a>
                      <a class="dropdown-item " href="/order-completed.html">سفارش تکمیل شد</a>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>

                <!-- Mega Menu Banner -->
                <div class="navbar-dropdown-menu-shop-banner">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <img class="navbar-dropdown-menu-shop-banner-img" src="/assets/img/mockups/img4.png" alt="Image Description">
                    </div>

                    <div class="flex-grow-1 p-4">
                      <span class="h4 d-block text-primary">برند تی شرت</span>
                      <p>یکی از تی شرت های برند Front ما را برنده شوید.</p>
                      <a class="btn btn-sm btn-soft-primary btn-transition" href="/index.html">بیشتر بدانید <i class="bi-chevron-left small"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Mega Menu Banner -->
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Pages -->

            <li class="nav-item">
              <!-- Search -->
              <button class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarSearch" aria-controls="offcanvasNavbarSearch">
                <i class="bi-search"></i>
              </button>
              <!-- End Search -->

              <!-- Shopping Cart -->
              <button type="button" class="btn btn-ghost-secondary btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarShoppingCart" aria-controls="offcanvasNavbarShoppingCart">
                <i class="bi-basket"></i>
              </button>
              <!-- End Shopping Cart -->

              <a class="btn btn-primary btn-transition" href="./page-login-simple.html">ورود</a>
            </li>
          </ul>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="w-md-75 w-lg-50 text-center mx-md-auto">
        <div class="mb-5">
          <img class="img-fluid" src="/assets/svg/illustrations/oc-empty-cart.svg" alt="Image Description" style="width: 15rem;">
        </div>

        <div class="mb-5">
          <h1 class="h2">سبد خرید شما در حال حاضر خالی است</h1>
          <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات جالب زیادی پیدا خواهید کرد.</p>
        </div>

        <a class="btn btn-primary btn-transition rounded-pill px-6" href="/index.html">شروع به خرید کنید</a>
      </div>
    </div>
    <!-- End Content -->

    <!-- Subscribe -->
    <div class="bg-light">
      <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <div class="row justify-content-lg-between">
            <!-- Heading -->
            <div class="mb-5">
              <span class="text-cap">ثبت نام</span>
              <h2>اخبار جدید را دریافت کنید</h2>
            </div>
            <!-- End Heading -->

            <form>
              <!-- Input Card -->
              <div class="input-card input-card-pill input-card-sm border mb-3">
                <div class="input-card-form">
                  <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                  <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="ایمیل را وارد کنید" aria-label="ایمیل خود را وارد کنید">
                </div>
                <button type="button" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
              </div>
              <!-- End Input Card -->
            </form>

            <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a> ما را بخوانید</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Subscribe -->

    <!-- Clients -->
    <div class="container content-space-2">
      <div class="row">
        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/hollister-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/levis-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/new-balance-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/puma-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/nike-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/tnf-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Clients -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="border-top">
    <div class="container">
      <div class="row justify-content-lg-between content-space-t-2 content-space-b-lg-2">
        <div class="col-lg-3 mb-5">
          <div class="d-flex align-items-start flex-column h-100">
            <!-- Logo -->
            <a class="w-100 mb-3 mb-lg-auto" href="/index.html" aria-label="Front">
              <img class="brand" src="/assets/svg/logos/logo.svg" alt="Logo">
            </a>
            <!-- End Logo -->

            <p class="text-muted small mb-0">&copy; Maryam Farajian 2023 Front RTL</p>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 ms-lg-auto mb-5 mb-lg-0">
          <h5>حساب</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">سفارش دادن</a></li>
            <li><a class="link-sm text-secondary" href="#">گزینه های حمل و نقل</a></li>
            <li><a class="link-sm text-secondary" href="#">پیگیری یک بسته</a></li>
            <li><a class="link-sm text-secondary" href="#">در دسترس بودن کشور</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
          <h5>شرکت</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm text-secondary" href="#">تامین مالی</a></li>
            <li><a class="link-sm text-secondary" href="#">بازیافت</a></li>
            <li><a class="link-sm text-secondary" href="#">سیاست بازگشت</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <h5 class="mb-3">منابع</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> کمک</a></li>
            <li><a class="link-sm link-secondary" href="#"><i class="bi-person-circle me-1"></i> حساب شما </a></li>
          </ul>
          <!-- End List -->

          <!-- Button Group -->
          <div class="btn-group">
            <button type="button" class="btn btn-white btn-sm dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
              <span class="d-flex align-items-center">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                <span>انگلیسی (US)</span>
              </span>
            </button>

            <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
              <a class="dropdown-item d-flex align-items-center active" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                <span>انگلیسی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16" />
                <span>آلمانی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16" />
                <span>اسپانیایی</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <img class="avatar avatar-xss avatar-circle ms-2" src="/assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16" />
                <span>چینی</span>
              </a>
            </div>
          </div>
          <!-- End Button Group -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <hr class="my-0">

      <div class="row align-items-sm-center content-space-1">
        <div class="col-sm mb-4 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- List -->
          <ul class="list-inline list-separator">
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/page-privacy.html">حریم خصوصی و خط مشی</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/page-terms.html">مقررات و شرایط</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-secondary" href="/#">مشاغل</a>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Sign Up -->
 

  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- Offcanvas Search -->
  <div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
    <div class="offcanvas-body">
      <div class="container">
        <div class="w-lg-75 mx-lg-auto">
          <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="mb-7">
            <!-- Form -->
            <form>
              <!-- Input Card -->
              <div class="input-card">
                <div class="input-card-form">
                  <input type="text" class="form-control form-control-lg" placeholder="جستجو محصولات" aria-label="جستجو محصولات">
                </div>
                <button type="button" class="btn btn-primary btn-lg">جستجو</button>
              </div>
              <!-- End Input Card -->
            </form>
            <!-- End Form -->
          </div>

      
        </div>
      </div>
    </div>
  </div>

  <!-- Offcanvas Search -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarShoppingCart">
    <div class="offcanvas-header justify-content-end border-0 pb-0">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <div class="text-center">
        <div class="mb-5">
          <img class="avatar avatar-xl avatar-4x3" src="/assets/svg/illustrations/oc-empty-cart.svg" alt="SVG">
        </div>

        <div class="mb-5">
          <h3>سبد خرید شما در حال حاضر خالی است</h3>
          <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات جالب زیادی پیدا خواهید کرد.</p>
        </div>

        <a class="btn btn-primary btn-transition rounded-pill px-6" href="/index.html">شروع به خرید کنید</a>
      </div>
    </div>
  </div>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Implementing Plugins -->
  <script src="/assets/js/vendor.min.js"></script>

  <!-- JS Front -->
  <script src="/assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')
    })()
  </script>
</body>
</html>