<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Invoice | Front - Multipurpose Responsive Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="./favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="./assets/css/vendor.min.css">
  <link rel="stylesheet" href="./assets/vendor/bootstrap-icons/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="./assets/css/theme.min.css?v=1.0">
</head>

<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-2">
      <div class="w-lg-85 mx-lg-auto">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body">
            <div class="row justify-content-lg-between">


              <div class="col-sm-auto  text-right mb-3">
                <div class="mb-3">
                  <h2> فاکتور شماره</h2>
                  <span class="d-block">3682303</span>
                </div>

              </div>
              <!-- End Col -->

              <div class="col-sm-auto  mb-3">
                <div class="mb-2">
                  <img class="avatar" src="./assets/svg/logos/logo-short.svg" alt="Logo">
                </div>

                <h1 class="h2 text-primary">Front Inc.</h1>
              </div>
              <!-- End Col -->

            </div>
            <!-- End Row -->

            <div class="row justify-content-md-between mb-3">
              <div class="col-md">
                <dl class="row">
                  <dt class="col-sm-8">نام سفارش دهنده:</dt>
                  <dd class="col-sm-4">مریم فرجیان</dd>
                </dl>
                <dl>
                  <dt class="col-sm-8">آدرس:</dt>
                  <address>
                    280 Suzanne Throughway,
                    Breannabury, OR 45801,
                    United States
                  </address>
                  
                </dl>
              </div>
              <!-- End Col -->

              <div class="col-md text-md-end">
                <dl class="row">
                  <dt class="col-sm-8">زمان سفارش:</dt>
                  <dd class="col-sm-4">03/10/2018</dd>
                  <dt class="col-sm-8"> نوع سفارش:</dt>
                  <dd class="col-sm-4"> پیشتاز</dd>
                </dl>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-borderless table-nowrap table-align-middle">
                <thead class="thead-light">
                  <tr>
                    <th>کالا</th>
                    <th>تعداد</th>
                    <th class="table-text-end">قیمت</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th>کیف ملی</th>
                    <td>1</td>

                    <td class="table-text-end">150000 تومان</td>
                  </tr>

                  <tr>
                    <th>تیشرت مشکی</th>
                    <td>1</td>

                    <td class="table-text-end">100000 تومان</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table -->

            <hr class="my-5">

            <div class="row mb-3">

              <div class="row mb-3">
                <dt class="col-md-3">هزینه ارسال:</dt>
                <dl class="col-md-3">35000 تومان</dl>
                <dt class="col-md-3">مالیات :</dt>
                <dl class="col-md-3">9% مبلغ نهایی</dl>
              </div>
              <div class="row mb-3">
                <dt class="col-md-3">مبلغ نهایی:</dt>
                <dl class="col-md-3">440000 تومان</dl>

              </div>
              <!-- End Row -->

            </div>
            <!-- End Row -->


          </div>
        </div>
        <!-- End Card -->

        <!-- Footer -->
        <div class="d-flex justify-content-end d-print-none gap-3">
          <a class="btn btn-white" href="#">
            <i class="bi-file-earmark-arrow-down me-1"></i> PDF
          </a>

          <a class="btn btn-primary" href="javascript:;" onclick="window.print(); return false;">
            <i class="bi-printer me-1"></i> Print details
          </a>
        </div>
        <!-- End Footer -->
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Front -->
  <script src="./assets/js/theme.min.js"></script>
</body>

</html>