<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>درباره ما</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="./favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="./assets/css/vendor.min.css">
  <link rel="stylesheet" href="./assets/vendor/bootstrap-icons/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="./assets/css/theme.min.css?v=1.0">
</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide" data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>
   

    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="./index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="./assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller">
            <ul class="navbar-nav">
              <!-- Landings -->
              <li class="hs-has-mega-menu nav-item">
                <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#" role="button" aria-expanded="false">فرودها</a>

                <!-- Mega Menu -->
                <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;">
                  <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                      <!-- Banner Image -->
                      <div class="navbar-dropdown-menu-banner" style="background-image: url(./assets/svg/components/shape-3.svg);">
                        <div class="navbar-dropdown-menu-banner-content">
                          <div class="mb-4">
                            <span class="h2 d-block">برندسازی کار می کند</span>
                            <p>سطحی از کیفیت ما را در هر دو طراحی تجربه کنید &amp; سفارشی سازی کار می کند</p>
                          </div>
                          <a class="btn btn-primary btn-transition" href="#">بیشتر بدانید <i class="bi-chevron-left small"></i></a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>
                    <!-- End Col -->

                    <div class="col-lg-6">
                      <div class="navbar-dropdown-menu-inner">
                        <div class="row">
                          <div class="col-sm mb-3 mb-sm-0">
                            <span class="dropdown-header">کلاسیک</span>
                            <a class="dropdown-item " href="./landing-classic-corporate.html">شرکت های بزرگ، دارای شخصیت حقوقی</a>
                            <a class="dropdown-item " href="./landing-classic-analytics.html">تجزیه و تحلیل <span class="badge bg-primary rounded-pill ms-1">داغ</span></a>
                            <a class="dropdown-item " href="./landing-classic-studio.html">استودیو</a>
                            <a class="dropdown-item " href="./landing-classic-marketing.html">بازار یابی</a>
                            <a class="dropdown-item " href="./landing-classic-advertisement.html">تبلیغات</a>
                            <a class="dropdown-item " href="./landing-classic-consulting.html">مشاوره</a>
                            <a class="dropdown-item " href="./landing-classic-portfolio.html">نمونه کارها</a>
                            <a class="dropdown-item " href="./landing-classic-software.html">نرم افزار</a>
                            <a class="dropdown-item " href="./landing-classic-business.html">کسب و کار</a>
                          </div>
                          <!-- End Col -->

                          <div class="col-sm">
                            <div class="mb-3">
                              <span class="dropdown-header">برنامه</span>
                              <a class="dropdown-item " href="./landing-app-ui-kit.html">کیت UI</a>
                              <a class="dropdown-item " href="./landing-app-saas.html">SaaS</a>
                              <a class="dropdown-item " href="./landing-app-workflow.html">جریان کار</a>
                              <a class="dropdown-item " href="./landing-app-payment.html">پرداخت</a>
                              <a class="dropdown-item " href="./landing-app-tool.html">ابزار</a>
                            </div>

                            <span class="dropdown-header">یک صفحه</span>
                            <a class="dropdown-item " href="./landing-onepage-corporate.html">یک صفحه</a>
                            <a class="dropdown-item " href="./landing-onepage-saas.html">SaaS <span class="badge bg-primary rounded-pill ms-1">داغ</span></a>
                          </div>
                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Landings -->

              <!-- Company -->
              <li class="hs-has-sub-menu nav-item">
                <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active" href="#" role="button" aria-expanded="false">شرکت</a>

                <!-- Mega Menu -->
                <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
                  <a class="dropdown-item active" href="./page-about.html">در باره</a>
                  <a class="dropdown-item " href="./page-services.html">خدمات</a>
                  <a class="dropdown-item " href="./page-customer-stories.html">داستان های مشتری</a>
                  <a class="dropdown-item " href="./page-customer-story.html">داستان مشتری</a>
                  <a class="dropdown-item " href="#">مشاغل</a>
                  <a class="dropdown-item " href="./page-careers-overview.html">بررسی اجمالی مشاغل</a>
                  <a class="dropdown-item " href="./page-hire-us.html">ما را استخدام کنید</a>
                  <a class="dropdown-item " href="./page-pricing.html">قیمت گذاری</a>
                  <a class="dropdown-item " href="./page-contacts-agency.html">مخاطبین: آژانس</a>
                  <a class="dropdown-item " href="./page-contacts-startup.html">مخاطبین: راه اندازی</a>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Company -->

              <!-- Account -->
              <li class="hs-has-sub-menu nav-item">
                <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">حساب</a>

                <!-- Mega Menu -->
                <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
                  <!-- Authentication -->
                  <div class="hs-has-sub-menu nav-item">
                    <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="#" role="button" aria-expanded="false">احراز هویت</a>

                    <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Signup Modal</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item " href="./page-login.html">وارد شدن</a>
                      <a class="dropdown-item " href="./page-signup.html">ثبت نام</a>
                      <a class="dropdown-item " href="./page-reset-password.html">بازنشانی رمز عبور</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item " href="./page-login-simple.html">ورود ساده</a>
                      <a class="dropdown-item " href="./page-signup-simple.html">ثبت نام ساده</a>
                      <a class="dropdown-item " href="./page-reset-password-simple.html">بازنشانی رمز عبور ساده</a>
                    </div>
                  </div>
                  <!-- End Authentication -->

                  <a class="dropdown-item " href="./account-overview.html">داشبورد</a>
                  <a class="dropdown-item " href="./account-security.html">امنیت</a>
                  <a class="dropdown-item " href="#">اطلاعیه</a>
                  <a class="dropdown-item " href="./account-preferences.html">اولویت ها</a>
                  <a class="dropdown-item " href="./account-orders.html">سفارشات</a>
                  <a class="dropdown-item " href="./account-wishlist.html">لیست علاقه مندیها</a>
                  <a class="dropdown-item " href="./account-payments.html">مبلغ پرداختی</a>
                  <a class="dropdown-item " href="./account-address.html">نشانی</a>
                  <a class="dropdown-item " href="./account-teams.html">تیم ها</a>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Account -->

              <!-- Pages -->
              <li class="hs-has-sub-menu nav-item">
                <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">صفحات</a>

                <!-- Mega Menu -->
                <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">
                  <a class="dropdown-item " href="./page-faq.html">سوالات متداول</a>
                  <a class="dropdown-item " href="./page-terms.html">مقررات و شرایط</a>
                  <a class="dropdown-item " href="./page-privacy.html">حریم خصوصی و خط مشی</a>
                  <a class="dropdown-item " href="./page-coming-soon.html">به زودی</a>
                  <a class="dropdown-item " href="./page-coming-soon-simple.html">به زودی: ساده</a>
                  <a class="dropdown-item " href="./page-maintenance-mode.html">حالت تعمیر و نگهداری</a>
                  <a class="dropdown-item " href="./page-status.html">وضعیت</a>
                  <a class="dropdown-item " href="./page-invoice.html">صورتحساب</a>
                  <a class="dropdown-item " href="./page-error-404.html">خطای 404</a>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Pages -->

              <!-- Blog -->
              <li class="hs-has-sub-menu nav-item">
                <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">بلاگ</a>

                <!-- Mega Menu -->
                <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
                  <a class="dropdown-item " href="./blog-journal.html">مجله</a>
                  <a class="dropdown-item " href="./blog-metro.html">مترو</a>
                  <a class="dropdown-item " href="./blog-newsroom.html">اتاق خبر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item " href="./blog-article.html">مقاله</a>
                  <a class="dropdown-item " href="./blog-author-profile.html">مشخصات نویسنده</a>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Blog -->

              <!-- Portfolio -->
              <li class="hs-has-sub-menu nav-item">
                <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">نمونه کارها</a>

                <!-- Mega Menu -->
                <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu" style="min-width: 14rem;">
                  <a class="dropdown-item " href="./portfolio-grid.html">توری</a>
                  <a class="dropdown-item " href="./portfolio-product-article.html">مقاله محصول</a>
                  <a class="dropdown-item " href="./portfolio-case-studies-branding.html">مطالعات موردی: برندسازی</a>
                  <a class="dropdown-item " href="./portfolio-case-studies-product.html">مطالعات موردی: محصول</a>
                </div>
                <!-- End Mega Menu -->
              </li>
              <!-- End Portfolio -->

              <!-- Button -->
              <li class="nav-item">
                <a class="btn btn-primary btn-transition" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">هم اکنون خریداری کنید</a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
      <div class="w-lg-75 text-center mx-lg-auto">
        <!-- Heading -->
        <div class="mb-5 mb-md-10">
          <h1 class="display-4">درباره ما</h1>
          <p class="lead">Front یک شرکت وب است که وب سایت می سازد. کسب‌وکارها در هر اندازه‌ای - از استارت‌آپ‌های جدید گرفته تا شرکت‌های عمومی - از موضوع ما برای ایجاد و مدیریت آنلاین کسب‌وکارشان استفاده می‌کنند.</p>
        </div>
        <!-- End Heading -->
      </div>

      <div class="row gx-3">
        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img17.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-3 d-none d-md-block mb-3">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img6.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img14.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="w-100"></div>

        <div class="col mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img25.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-4 d-none d-md-block mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img16.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col">
          <div class="bg-img-start" style="background-image: url(./assets/img/480x320/img12.jpg); height: 15rem;"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Feature Stats -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-center">
        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">7</h2>
            <p class="small">سال در تجارت</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">3,5k+</h2>
            <p class="small">نسخه های فروخته شده</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3">
          <div class="text-center">
            <h2 class="display-4">85%</h2>
            <p class="small">مشتریان خوشحال</p>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Feature Stats -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Info -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2>ابزارها باید با کاربر سازگار شوند، نه برعکس.</h2>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <p>از سال 2007، ما به 25 شرکت کمک کرده ایم تا بیش از 1000 محصول باورنکردنی را عرضه کنند. ما معتقدیم که بهترین راه حل های دیجیتال در تقاطع استراتژی کسب و کار، فناوری موجود و نیازهای واقعی کاربر ساخته می شوند.</p>
          <p>همه چیز می تواند واقعاً پیچیده شود، واقعاً به سرعت، و یک چشم انداز عملی، مصنوعی و روشن ضروری است تا بتوان چیزی را ایجاد کرد که در نهایت قرار است مورد استفاده قرار گیرد. احساسات نیز نقش مهمی دارند و ایجاد زیبایی شناسی واضح و زیبا برای ایجاد محیطی دلپذیر که در آن کاربر واقعاً از زمانی که در آن سپری می‌کند لذت ببرد، از اهمیت بالایی برخوردار است. در نهایت، همه ما مشتاق چیزهای زیبایی هستیم که فقط کار می کنند</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Info -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Team -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap">تیم ما</span>
        <h2>ذهن های خلاق</h2>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 mb-5">
        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="./assets/img/160x160/img7.jpg" alt="Image Description">
              </div>

              <span class="card-subtitle">موسس / مدیر عامل</span>
              <h4 class="card-title">کریستینا کری</h4>
              <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="./assets/img/160x160/img3.jpg" alt="Image Description">
              </div>

              <span class="card-subtitle">مدیر پروژه</span>
              <h4 class="card-title">جف فیشر</h4>
              <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
              </div>

              <span class="card-subtitle">طراح محصول</span>
              <h4 class="card-title">امی فورن</h4>
              <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="./assets/img/160x160/img5.jpg" alt="Image Description">
              </div>

              <span class="card-subtitle">مشاور پشتیبانی</span>
              <h4 class="card-title">فیلیپ ویلیامز</h4>
              <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <!-- Card Info -->
      <div class="text-center">
        <div class="card card-info-link card-sm">
          <div class="card-body">
            میخواهی با ما کار کنی؟ <a class="card-link ms-2" href="./page-hire-us.html">استخدام می کنیم<span class="bi-chevron-left small me-1"></span></a>
          </div>
        </div>
      </div>
      <!-- End Card Info -->
    </div>
    <!-- End Team -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark">
    <div class="container pb-1 pb-lg-5">
      <div class="row content-space-t-2">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Logo -->
          <div class="mb-5">
            <a class="navbar-brand" href="./index.html" aria-label="Space">
              <img class="navbar-brand-logo" src="./assets/svg/logos/logo-white.svg" alt="Image Description">
            </a>
          </div>
          <!-- End Logo -->

          <!-- List -->
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i> 153 ویلیامسون پلازا، مگیبرگ</a></li>
            <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i class="bi-telephone-inbound-fill me-1"></i> +1 (062) 109-9222</a></li>
          </ul>
          <!-- End List -->

        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">شرکت</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">در باره</a></li>
            <li><a class="link-sm link-light" href="#">مشاغل <span class="badge bg-warning text-dark rounded-pill ms-1">استخدام می کنیم</span></a></li>
            <li><a class="link-sm link-light" href="#">وبلاگ</a></li>
            <li><a class="link-sm link-light" href="#">مشتریان <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="#">ما را استخدام کنید</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">امکانات</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">مطبوعات <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="#">یادداشت های انتشار</a></li>
            <li><a class="link-sm link-light" href="#">ادغام ها</a></li>
            <li><a class="link-sm link-light" href="#">قیمت گذاری</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">مستندات</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">حمایت کردن</a></li>
            <li><a class="link-sm link-light" href="#">اسناد</a></li>
            <li><a class="link-sm link-light" href="#">وضعیت</a></li>
            <li><a class="link-sm link-light" href="#">مرجع API</a></li>
            <li><a class="link-sm link-light" href="#">الزامات فنی</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->

        <div class="col-sm">
          <h5 class="text-white mb-3">منابع</h5>

          <!-- List -->
          <ul class="list-unstyled list-py-1 mb-5">
            <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> کمک</a></li>
            <li><a class="link-sm link-light" href="#"><i class="bi-person-circle me-1"></i>حساب شما</a></li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="border-top border-white-10 my-7"></div>

      <div class="row mb-7">
        <div class="col-sm mb-3 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline list-separator list-separator-light mb-0">
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">حریم خصوصی و خط مشی</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">مقررات</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">نقشه سایت</a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <!-- Button Group -->
              <div class="btn-group">
                <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                  <span class="d-flex align-items-center">
                    <img class="avatar avatar-xss avatar-circle ms-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                    <span>انگلیسی </span>
                  </span>
                </button>

                <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                  <a class="dropdown-item d-flex align-items-center active" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                    <span>انگلیسی </span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2" src="./assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16" />
                    <span>آلمانی</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2" src="./assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16" />
                    <span>اسپانیا</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <img class="avatar avatar-xss avatar-circle ms-2" src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16" />
                    <span>چینی</span>
                  </a>
                </div>
              </div>
              <!-- End Button Group -->
            </li>
          </ul>
          <!-- End Socials -->
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-md-85 text-lg-center mx-lg-auto">
        <p class="text-white-50 small">&copy;جلو. Htmlstream 2021. تمامی حقوق محفوظ است.</p>
        <p class="text-white-50 small">هنگامی که از سایت‌ها، سرویس‌ها یا ابزارهای ما بازدید می‌کنید یا با آنها تعامل می‌کنید، ما یا ارائه‌دهندگان خدمات مجاز ما ممکن است از کوکی‌ها برای ذخیره اطلاعات استفاده کنیم تا تجربه بهتر، سریع‌تر و ایمن‌تری و برای اهداف بازاریابی به شما ارائه کنیم.</p>
      </div>
      <!-- End Copyright -->
    </div>
  </footer>

  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->


  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Implementing Plugins -->
  <script src="./assets/js/vendor.min.js"></script>

  <!-- JS Front -->
  <script src="./assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF HEADER
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')
    })()
  </script>
</body>
</html>