<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>درباره ما</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="./assets/css/vendor.min.css">
    <link rel="stylesheet" href="./assets/vendor/bootstrap-icons/font/bootstrap-icons.css">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="./assets/css/theme.min.css?v=1.0">
</head>

<body>
    <!-- ========== HEADER ========== -->
    <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>


        <div class="container">
            <nav class="js-mega-menu navbar-nav-wrap">
                <!-- Default Logo -->
                <a class="navbar-brand" href="./index.html" aria-label="Front">
                    <img class="navbar-brand-logo" src="./assets/svg/logos/logo.svg" alt="Logo">
                </a>
                <!-- End Default Logo -->

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                    </span>
                </button>
                <!-- End Toggler -->

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-absolute-top-scroller">
                        <ul class="navbar-nav">
                            <!-- Landings -->
                            <li class="hs-has-mega-menu nav-item">
                                <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle "
                                    aria-current="page" href="#" role="button" aria-expanded="false">فرودها</a>

                                <!-- Mega Menu -->
                                <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu"
                                    style="min-width: 30rem;">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <!-- Banner Image -->
                                            <div class="navbar-dropdown-menu-banner"
                                                style="background-image: url(./assets/svg/components/shape-3.svg);">
                                                <div class="navbar-dropdown-menu-banner-content">
                                                    <div class="mb-4">
                                                        <span class="h2 d-block">برندسازی کار می کند</span>
                                                        <p>سطحی از کیفیت ما را در هر دو طراحی تجربه کنید &amp; سفارشی
                                                            سازی کار می کند</p>
                                                    </div>
                                                    <a class="btn btn-primary btn-transition" href="#">بیشتر بدانید <i
                                                            class="bi-chevron-left small"></i></a>
                                                </div>
                                            </div>
                                            <!-- End Banner Image -->
                                        </div>
                                        <!-- End Col -->

                                        <div class="col-lg-6">
                                            <div class="navbar-dropdown-menu-inner">
                                                <div class="row">
                                                    <div class="col-sm mb-3 mb-sm-0">
                                                        <span class="dropdown-header">کلاسیک</span>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-corporate.html">شرکت های بزرگ، دارای
                                                            شخصیت حقوقی</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-analytics.html">تجزیه و تحلیل <span
                                                                class="badge bg-primary rounded-pill ms-1">داغ</span></a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-studio.html">استودیو</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-marketing.html">بازار یابی</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-advertisement.html">تبلیغات</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-consulting.html">مشاوره</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-portfolio.html">نمونه کارها</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-software.html">نرم افزار</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-classic-business.html">کسب و کار</a>
                                                    </div>
                                                    <!-- End Col -->

                                                    <div class="col-sm">
                                                        <div class="mb-3">
                                                            <span class="dropdown-header">برنامه</span>
                                                            <a class="dropdown-item "
                                                                href="./landing-app-ui-kit.html">کیت UI</a>
                                                            <a class="dropdown-item "
                                                                href="./landing-app-saas.html">SaaS</a>
                                                            <a class="dropdown-item "
                                                                href="./landing-app-workflow.html">جریان کار</a>
                                                            <a class="dropdown-item "
                                                                href="./landing-app-payment.html">پرداخت</a>
                                                            <a class="dropdown-item "
                                                                href="./landing-app-tool.html">ابزار</a>
                                                        </div>

                                                        <span class="dropdown-header">یک صفحه</span>
                                                        <a class="dropdown-item "
                                                            href="./landing-onepage-corporate.html">یک صفحه</a>
                                                        <a class="dropdown-item "
                                                            href="./landing-onepage-saas.html">SaaS <span
                                                                class="badge bg-primary rounded-pill ms-1">داغ</span></a>
                                                    </div>
                                                    <!-- End Col -->
                                                </div>
                                                <!-- End Row -->
                                            </div>
                                        </div>
                                        <!-- End Col -->
                                    </div>
                                    <!-- End Row -->
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Landings -->

                            <!-- Company -->
                            <li class="hs-has-sub-menu nav-item">
                                <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active"
                                    href="#" role="button" aria-expanded="false">شرکت</a>

                                <!-- Mega Menu -->
                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu"
                                    style="min-width: 14rem;">
                                    <a class="dropdown-item active" href="./page-about.html">در باره</a>
                                    <a class="dropdown-item " href="./page-services.html">خدمات</a>
                                    <a class="dropdown-item " href="./page-customer-stories.html">داستان های مشتری</a>
                                    <a class="dropdown-item " href="./page-customer-story.html">داستان مشتری</a>
                                    <a class="dropdown-item " href="#">مشاغل</a>
                                    <a class="dropdown-item " href="./page-careers-overview.html">بررسی اجمالی مشاغل</a>
                                    <a class="dropdown-item " href="./page-hire-us.html">ما را استخدام کنید</a>
                                    <a class="dropdown-item " href="./page-pricing.html">قیمت گذاری</a>
                                    <a class="dropdown-item " href="./page-contacts-agency.html">مخاطبین: آژانس</a>
                                    <a class="dropdown-item " href="./page-contacts-startup.html">مخاطبین: راه
                                        اندازی</a>
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Company -->

                            <!-- Account -->
                            <li class="hs-has-sub-menu nav-item">
                                <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#"
                                    role="button" aria-expanded="false">حساب</a>

                                <!-- Mega Menu -->
                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu"
                                    style="min-width: 14rem;">
                                    <!-- Authentication -->
                                    <div class="hs-has-sub-menu nav-item">
                                        <a id="authenticationMegaMenu"
                                            class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="#"
                                            role="button" aria-expanded="false">احراز هویت</a>

                                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu"
                                            style="min-width: 14rem;">
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                data-bs-target="#signupModal">Signup Modal</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item " href="./page-login.html">وارد شدن</a>
                                            <a class="dropdown-item " href="./page-signup.html">ثبت نام</a>
                                            <a class="dropdown-item " href="./page-reset-password.html">بازنشانی رمز
                                                عبور</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item " href="./page-login-simple.html">ورود ساده</a>
                                            <a class="dropdown-item " href="./page-signup-simple.html">ثبت نام ساده</a>
                                            <a class="dropdown-item " href="./page-reset-password-simple.html">بازنشانی
                                                رمز عبور ساده</a>
                                        </div>
                                    </div>
                                    <!-- End Authentication -->

                                    <a class="dropdown-item " href="./account-overview.html">داشبورد</a>
                                    <a class="dropdown-item " href="./account-security.html">امنیت</a>
                                    <a class="dropdown-item " href="#">اطلاعیه</a>
                                    <a class="dropdown-item " href="./account-preferences.html">اولویت ها</a>
                                    <a class="dropdown-item " href="./account-orders.html">سفارشات</a>
                                    <a class="dropdown-item " href="./account-wishlist.html">لیست علاقه مندیها</a>
                                    <a class="dropdown-item " href="./account-payments.html">مبلغ پرداختی</a>
                                    <a class="dropdown-item " href="./account-address.html">نشانی</a>
                                    <a class="dropdown-item " href="./account-teams.html">تیم ها</a>
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Account -->

                            <!-- Pages -->
                            <li class="hs-has-sub-menu nav-item">
                                <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#"
                                    role="button" aria-expanded="false">صفحات</a>

                                <!-- Mega Menu -->
                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu"
                                    style="min-width: 14rem;">
                                    <a class="dropdown-item " href="./page-faq.html">سوالات متداول</a>
                                    <a class="dropdown-item " href="./page-terms.html">مقررات و شرایط</a>
                                    <a class="dropdown-item " href="./page-privacy.html">حریم خصوصی و خط مشی</a>
                                    <a class="dropdown-item " href="./page-coming-soon.html">به زودی</a>
                                    <a class="dropdown-item " href="./page-coming-soon-simple.html">به زودی: ساده</a>
                                    <a class="dropdown-item " href="./page-maintenance-mode.html">حالت تعمیر و
                                        نگهداری</a>
                                    <a class="dropdown-item " href="./page-status.html">وضعیت</a>
                                    <a class="dropdown-item " href="./page-invoice.html">صورتحساب</a>
                                    <a class="dropdown-item " href="./page-error-404.html">خطای 404</a>
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Pages -->

                            <!-- Blog -->
                            <li class="hs-has-sub-menu nav-item">
                                <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#"
                                    role="button" aria-expanded="false">بلاگ</a>

                                <!-- Mega Menu -->
                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu"
                                    style="min-width: 14rem;">
                                    <a class="dropdown-item " href="./blog-journal.html">مجله</a>
                                    <a class="dropdown-item " href="./blog-metro.html">مترو</a>
                                    <a class="dropdown-item " href="./blog-newsroom.html">اتاق خبر</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item " href="./blog-article.html">مقاله</a>
                                    <a class="dropdown-item " href="./blog-author-profile.html">مشخصات نویسنده</a>
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Blog -->

                            <!-- Portfolio -->
                            <li class="hs-has-sub-menu nav-item">
                                <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle "
                                    href="#" role="button" aria-expanded="false">نمونه کارها</a>

                                <!-- Mega Menu -->
                                <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu"
                                    style="min-width: 14rem;">
                                    <a class="dropdown-item " href="./portfolio-grid.html">توری</a>
                                    <a class="dropdown-item " href="./portfolio-product-article.html">مقاله محصول</a>
                                    <a class="dropdown-item " href="./portfolio-case-studies-branding.html">مطالعات
                                        موردی: برندسازی</a>
                                    <a class="dropdown-item " href="./portfolio-case-studies-product.html">مطالعات
                                        موردی: محصول</a>
                                </div>
                                <!-- End Mega Menu -->
                            </li>
                            <!-- End Portfolio -->

                            <!-- Button -->
                            <li class="nav-item">
                                <a class="btn btn-primary btn-transition"
                                    href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/"
                                    target="_blank">هم اکنون خریداری کنید</a>
                            </li>
                            <!-- End Button -->
                        </ul>
                    </div>
                </div>
                <!-- End Collapse -->
            </nav>
        </div>
    </header>

    <!-- ========== END HEADER ========== -->

    <main id="content" role="main">
        <!-- Hero -->
        <div class="position-relative bg-img-start" style="background-image: url(./assets/svg/components/card-11.svg);">
            <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 position-relative zi-2">
                <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                    <h1>تماس با ما</h1>
                    <p>نظرات و انتقادات خود را بیان کنین</p>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <!-- Card -->
                        <a class="card card-transition text-center h-100" href="#">
                            <div class="card-body">
                                <div class="svg-icon text-primary mb-3">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                            fill="#035A4B"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.591 13.209V14.868H11.851C14.392 14.868 16.387 12.915 16.387 10.395C16.387 7.875 14.392 5.922 11.851 5.922C9.31 5.922 7.336 7.875 7.336 10.395H9.121C9.121 8.799 10.234 7.581 11.851 7.581C13.447 7.581 14.602 8.799 14.602 10.395C14.602 11.991 13.447 13.209 11.851 13.209H10.591ZM12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z"
                                            fill="#035A4B"></path>
                                    </svg>

                                </div>

                                <h4 class="card-title">مشاوره خرید</h4>
                                <p class="card-text text-body">دانش کافی در زمان خرید داشته باشید</p>
                            </div>

                            <div class="card-footer pt-0">
                                <span class="card-link">تماس با پشتیبانی <i
                                        class="bi-chevron-left small ms-1"></i></span>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->

                    <div class="col-md-4 mb-3 mb-md-0">
                        <!-- Card -->
                        <a class="card card-transition text-center h-100" href="#">
                            <div class="card-body">
                                <div class="svg-icon text-primary mb-3">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                                            fill="#035A4B"></path>
                                        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                                            fill="#035A4B"></path>
                                    </svg>

                                </div>

                                <h4 class="card-title">سوالات متداول</h4>
                                <p class="card-text text-body">سوالات خود را از ما بپرسید و پیدا کنین</p>
                            </div>

                            <div class="card-footer pt-0">
                                <span class="card-link">مشاهده سوالات<i class="bi-chevron-left small ms-1"></i></span>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->

                    <div class="col-md-4">
                        <!-- Card -->
                        <a class="card card-transition text-center h-100" href="#">
                            <div class="card-body">
                                <div class="svg-icon text-primary mb-3">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3"
                                            d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5688 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5688 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z"
                                            fill="#035A4B"></path>
                                        <path
                                            d="M4.06875 17.9688C3.86875 17.9688 3.66874 17.8688 3.46874 17.7688C2.96874 17.4688 2.86875 16.8688 3.16875 16.3688L6.76874 10.9688L3.16875 5.56876C2.86875 5.06876 2.96874 4.46873 3.46874 4.16873C3.96874 3.86873 4.56875 3.96878 4.86875 4.46878L8.86875 10.4688C9.06875 10.7688 9.06875 11.2688 8.86875 11.5688L4.86875 17.5688C4.66875 17.7688 4.36875 17.9688 4.06875 17.9688Z"
                                            fill="#035A4B"></path>
                                    </svg>

                                </div>

                                <h4 class="card-title">کمک به توسعه</h4>
                                <p class="card-text text-body">پیشنهادات سازنده خود را به توسعه دهندگان انتقال دهید</p>
                            </div>

                            <div class="card-footer pt-0">
                                <span class="card-link">تماس با پشتیبانی<i class="bi-chevron-left small ms-1"></i></span>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>

            <!-- Shape -->
            <div class="shape shape-bottom zi-1">
                <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 500H3000V0L0 500Z" fill="#fff"></path>
                </svg>
            </div>
            <!-- End Shape -->
        </div>
        <!-- End Hero -->

        <!-- Contact Form -->
        <div class="container content-space-1 content-space-lg-1">
            <div class="mx-auto" style="max-width: 35rem;">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Heading -->
                        <div class="text-center mb-5 mb-md-9">
                            <h2>فرم تماس با پشتیبانی</h2>
                            <p>سوال یا نظرات خود را مطرح کنین</p>
                        </div>
                        <!-- End Heading -->

                        <!-- Form -->
                        <form>
                            <div class="row gx-3">
                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-3">
                                        <label class="form-label" for="hireUsFormFirstName">نام</label>
                                        <input type="text" class="form-control form-control-lg"
                                            name="hireUsFormNameFirstName" id="hireUsFormFirstName"
                                            placeholder="نام" aria-label="First name">
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->

                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-3">
                                        <label class="form-label" for="hireUsFormLasttName">نام خانوادگی</label>
                                        <input type="text" class="form-control form-control-lg"
                                            name="hireUsFormNameLastName" id="hireUsFormLasttName"
                                            placeholder="نام خانوادگی" aria-label="Last name">
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->

                            <div class="row gx-3">
                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-3">
                                        <label class="form-label" for="hireUsFormWorkEmail">آدرس ایمیل</label>
                                        <input type="email" class="form-control form-control-lg"
                                            name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail"
                                            placeholder="email@site.com" aria-label="email@site.com">
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->

                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-3">
                                        <label class="form-label" for="hireUsFormPhone">شماره همراه <span
                                                class="form-label-secondary">(اختیاری)</span></label>
                                        <input type="text" class="form-control form-control-lg"
                                            name="hireUsFormNamePhone" id="hireUsFormPhone"
                                            placeholder="+9891200000">
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->

                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormDetails">توضیحات</label>
                                <textarea class="form-control form-control-lg" name="hireUsFormNameDetails"
                                    id="hireUsFormDetails" placeholder="توضیحات خود را وارد نمایید"
                                    aria-label="Tell us about your ..." rows="4"></textarea>
                            </div>
                            <!-- End Form -->

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">ارسال درخواست</button>
                            </div>

                            <div class="text-center">
                                <p class="form-text">تیکت ها در اسرع وقت پاسخ داده خواهند شد</p>
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Contact Form -->

    </main>


    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
        <div class="container pb-1 pb-lg-5">
            <div class="row content-space-t-2">
                <div class="col-lg-3 mb-7 mb-lg-0">
                    <!-- Logo -->
                    <div class="mb-5">
                        <a class="navbar-brand" href="./index.html" aria-label="Space">
                            <img class="navbar-brand-logo" src="./assets/svg/logos/logo-white.svg"
                                alt="Image Description">
                        </a>
                    </div>
                    <!-- End Logo -->

                    <!-- List -->
                    <ul class="list-unstyled list-py-1">
                        <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i> 153 ویلیامسون
                                پلازا، مگیبرگ</a></li>
                        <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i
                                    class="bi-telephone-inbound-fill me-1"></i> +1 (062) 109-9222</a></li>
                    </ul>
                    <!-- End List -->

                </div>
                <!-- End Col -->

                <div class="col-sm mb-7 mb-sm-0">
                    <h5 class="text-white mb-3">شرکت</h5>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-0">
                        <li><a class="link-sm link-light" href="#">در باره</a></li>
                        <li><a class="link-sm link-light" href="#">مشاغل <span
                                    class="badge bg-warning text-dark rounded-pill ms-1">استخدام می کنیم</span></a></li>
                        <li><a class="link-sm link-light" href="#">وبلاگ</a></li>
                        <li><a class="link-sm link-light" href="#">مشتریان <i
                                    class="bi-box-arrow-up-right small ms-1"></i></a></li>
                        <li><a class="link-sm link-light" href="#">ما را استخدام کنید</a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-sm mb-7 mb-sm-0">
                    <h5 class="text-white mb-3">امکانات</h5>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-0">
                        <li><a class="link-sm link-light" href="#">مطبوعات <i
                                    class="bi-box-arrow-up-right small ms-1"></i></a></li>
                        <li><a class="link-sm link-light" href="#">یادداشت های انتشار</a></li>
                        <li><a class="link-sm link-light" href="#">ادغام ها</a></li>
                        <li><a class="link-sm link-light" href="#">قیمت گذاری</a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-sm mb-7 mb-sm-0">
                    <h5 class="text-white mb-3">مستندات</h5>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-0">
                        <li><a class="link-sm link-light" href="#">حمایت کردن</a></li>
                        <li><a class="link-sm link-light" href="#">اسناد</a></li>
                        <li><a class="link-sm link-light" href="#">وضعیت</a></li>
                        <li><a class="link-sm link-light" href="#">مرجع API</a></li>
                        <li><a class="link-sm link-light" href="#">الزامات فنی</a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-sm">
                    <h5 class="text-white mb-3">منابع</h5>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-5">
                        <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> کمک</a>
                        </li>
                        <li><a class="link-sm link-light" href="#"><i class="bi-person-circle me-1"></i>حساب شما</a>
                        </li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="border-top border-white-10 my-7"></div>

            <div class="row mb-7">
                <div class="col-sm mb-3 mb-sm-0">
                    <!-- Socials -->
                    <ul class="list-inline list-separator list-separator-light mb-0">
                        <li class="list-inline-item">
                            <a class="link-sm link-light" href="#">حریم خصوصی و خط مشی</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-sm link-light" href="#">مقررات</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-sm link-light" href="#">نقشه سایت</a>
                        </li>
                    </ul>
                    <!-- End Socials -->
                </div>

                <div class="col-sm-auto">
                    <!-- Socials -->
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                                <i class="bi-facebook"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                                <i class="bi-google"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                                <i class="bi-twitter"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                                <i class="bi-github"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <!-- Button Group -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle"
                                    id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false"
                                    data-bs-dropdown-animation>
                                    <span class="d-flex align-items-center">
                                        <img class="avatar avatar-xss avatar-circle ms-2"
                                            src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description"
                                            width="16" />
                                        <span>انگلیسی </span>
                                    </span>
                                </button>

                                <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                                    <a class="dropdown-item d-flex align-items-center active" href="#">
                                        <img class="avatar avatar-xss avatar-circle ms-2"
                                            src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description"
                                            width="16" />
                                        <span>انگلیسی </span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <img class="avatar avatar-xss avatar-circle ms-2"
                                            src="./assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description"
                                            width="16" />
                                        <span>آلمانی</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <img class="avatar avatar-xss avatar-circle ms-2"
                                            src="./assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description"
                                            width="16" />
                                        <span>اسپانیا</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <img class="avatar avatar-xss avatar-circle ms-2"
                                            src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description"
                                            width="16" />
                                        <span>چینی</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Button Group -->
                        </li>
                    </ul>
                    <!-- End Socials -->
                </div>
            </div>

            <!-- Copyright -->
            <div class="w-md-85 text-lg-center mx-lg-auto">
                <p class="text-white-50 small">&copy;جلو. Htmlstream 2021. تمامی حقوق محفوظ است.</p>
                <p class="text-white-50 small">هنگامی که از سایت‌ها، سرویس‌ها یا ابزارهای ما بازدید می‌کنید یا با آنها
                    تعامل می‌کنید، ما یا ارائه‌دهندگان خدمات مجاز ما ممکن است از کوکی‌ها برای ذخیره اطلاعات استفاده کنیم
                    تا تجربه بهتر، سریع‌تر و ایمن‌تری و برای اهداف بازاریابی به شما ارائه کنیم.</p>
            </div>
            <!-- End Copyright -->
        </div>
    </footer>

    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->


    <!-- Go To -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
        <i class="bi-chevron-up"></i>
    </a>
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Implementing Plugins -->
    <script src="./assets/js/vendor.min.js"></script>

    <!-- JS Front -->
    <script src="./assets/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF HEADER
            // =======================================================
            new HSHeader('#header').init()


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            new HSMegaMenu('.js-mega-menu', {
                desktop: {
                    position: 'left'
                }
            })


            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            new HSShowAnimation('.js-animation-link')


            // INITIALIZATION OF BOOTSTRAP VALIDATION
            // =======================================================
            HSBsValidation.init('.js-validate', {
                onSubmit: data => {
                    data.event.preventDefault()
                    alert('Submited')
                }
            })


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()


            // INITIALIZATION OF GO TO
            // =======================================================
            new HSGoTo('.js-go-to')
        })()
    </script>
</body>

</html>