{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100" style="display: none;" id="reset-password-form">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <h3 class="card-title text-center mb-3">تنظیم گذرواژه جدید</h3>
        <p class="text-muted text-center">گذرواژه جدید خود را وارد کنید</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="password" class="form-label">گذرواژه</label>
                {{form.new_password1}}
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">تایید گذرواژه</label>
                {{form.new_password2}}
            </div>
            <button type="submit" class="btn btn-primary w-100">تغییر گذرواژه</button>
        </form>
        <p class="text-muted mt-3">Make sure your new password is strong and memorable. Avoid using common words or personal information.</p>
    </div>
</div>
{% endblock content %}