{% extends "base.html" %}
{% load static %}

{% block content %}
  
<div class="container content-space-2 content-space-lg-3">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="mb-5">
        <img class="img-fluid" src="{% static 'svg/illustrations/oc-empty-cart.svg' %}" alt="Image Description" style="width: 15rem;">
      </div>

      <div class="mb-5">
        <h1 class="h2">سبد خرید شما در حال حاضر خالی است</h1>
        <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات جالب زیادی پیدا خواهید کرد.</p>
      </div>

      <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url 'shop:list_grid' %}">شروع به خرید کنید</a>
    </div>
  </div>

{% endblock content %}