{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script>
          Toastify({
              text: `{{ message }}`,
              className: `{{ message.tags }}`,
              style: {
                background: "#4CAF50",
              }
          }).showToast();
        </script>
      {% endif %}
      {% if message.tags == 'warning' %}
        <script>
          Toastify({
              text: `{{ message }}`,
              className: `{{ message.tags }}`,
              style: {
                background: "#FF9800",
              }
          }).showToast();
        </script>
      {% endif %}
      {% if message.tags == 'error' %}
        <script>
          Toastify({
              text: `{{ message }}`,
              className: `{{ message.tags }}`,
              style: {
                background: "#F44336",
              }
          }).showToast();
        </script>
      {% endif %}
    {% endfor %}
{% endif %}



{% if form.errors %}
    <div class="alert alert-error">
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <script>
                Toastify({
                    text: `{{ error|escape }}`,
                    className: `{{ message.tags }}`,
                    style: {
                      background: "#FF9800",
                    }
                }).showToast();
              </script>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        <script>
            Toastify({
                text: `{{ form.non_field_errors.as_text }}`,
                className: `{{ message.tags }}`,
                style: {
                  background: "#F44336",
                }
            }).showToast();
        </script>
      {% endif %}
    </div>
{% endif %}
